use perlin or diamond-square
to generate a random terrain. 		DONE

Must have 3D lighting. 			DONE

Must be fully textured. 		DONE

Uses at least 2 geometric models
created by artists or from web.		DONE

use particle effect or water 
effect as animation.			DONE

use antweak to alter procedural
gen or create gen based on user
choices.				DONE

use antweak to allow user to 
modify at least 2 other 
aspects of the environment.		DONE

document detailing how to use 
the GUI. 				CAN DO

document must have detail of 
what each GUI element does and 
include visuals.			CAN DO

comment code				CAN DO


Build in release			IMPORTANT